ul, li {list-style: none; padding: 0; margin: 0;}
.form-search {position: relative;}
.form-search .bt-remove {position: absolute; right: 0.5em; top: 0.58em; font-size: 1.25em; cursor: pointer; color: #333;}
.form-search .bt-remove:hover {color: #b90909;}
.list-wrapper {margin: 1em 0;}
.list-wrapper ul.list-wrap {display: flex; flex-wrap: wrap;}
.list-wrapper li.list {width: 25%; border: 1px solid #ccc; padding: 0.5em;}
.list-wrapper li.list .title {padding: 0.5em 0; font-size: 1.25em; border-bottom: 1px solid #ccc;}
.list-wrapper li.list .price {padding: 0.5em 0; text-align: right; color:#065786;}