.form-search {position: relative;}
.form-search .bt-remove {position: absolute; right: 0.5em; top: 0.58em; font-size: 1.25em; cursor: pointer; color: #333;}
.form-search .bt-remove:hover {color: #b90909;}